
/* 4 september 2024*/

html {
    font-size: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    height: 100dvh;
}

h1, h2, h3 {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    border: 5px solid whitesmoke;
    margin: 0; 
    padding: 15px 20px;
    max-width: 100%;
    background-color: black;
    color: whitesmoke;
}

hr {
    border: 1px dotted rgb(255, 255, 255);
    width: 100%;

}

.social-buttons {
    display: flex;
    gap: 10px;

}

.social-button {
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    font-size: 12px;
    transition: background-color 0.3s ease;
}

.facebook {
    background-color: #3b5998;
}

.instagram {
    background-color: #e1306c;
}

.linkedin {
    background-color: #0077b5;
}

.social-button:hover {
    opacity: 0.8;
}

.profilepic {
    box-shadow: 10px 5px 5px rgb(255, 255, 255);
    width: 150px;
    border-radius: 10%;
    filter: contrast(120%);
    
}

ul {
    list-style-type: circle;

}

button {
    margin-left: 90%;
   
}

a {
    color: aliceblue;

}

.volgende:hover {
    color: rgb(132, 33, 208);
    opacity: 0.8;

}

.digitalnomad {
   border-radius: 15%;
   padding-bottom: 10px;
   padding-top: 10px;
   width: 100%;
   filter:sepia(150%);
   object-fit: cover;

}

.button {
    width: 100px;
    height: 20px;
    background-color: rgb(255, 255, 255);
    border: 10px black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    cursor: pointer;
}